.nav-list {
    font-size: 20px;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 120px;
    
}

.nav-list a { 
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    padding: 10px 20px;
    margin: 0px 10px;
    border-radius: 5px;
    transition: ease-in-out 0.3s;
}

.nav-list a:hover {
    text-decoration: underline rgb(221, 88, 0);
    text-underline-offset: 40px;
    text-decoration-thickness: 4px;
    
    color: rgb(221, 88, 0);
    
}